@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

body {
  max-width: 1200px;
  margin: auto;
}

/*ローディング画面*/
/*ローディング画面*/
#loading {
  transition: all 3s; /*ローディングにかかる時間*/
  background-color: #abdcd6;
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.spinner {
  margin: 120px auto 0;
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 25px;
  height: 25px;
  background-color: #333333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

main{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fffcec;
}

.gnavi{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 10px;
  list-style: none;
}

header {
  background-color: #fffcec;
}

.gnavi li a{
  display: block;
  padding:15px 20px;
  text-decoration: none;
  color: #eb593c;
  font-size: 15px;
}

.gnavi li{
  margin-bottom:20px;
}

/*==================================================
　5-3-8 円が線に変化
===================================*/


.gnavi li a{
  /*円の基点とするためrelativeを指定*/
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.gnavi li.current a,
.gnavi li a:hover{
  color:#eb593c;
}

.gnavi li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background:#eb593c;
  transition: all .3s;
  transform: scale(0.04, 1);
  font-family: 'Roboto Condensed', sans-serif;
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  height: 1px;/*縦幅を変化*/
  border-radius: 0;/*丸みをなくす*/    
  transform: scale(0.8, 1);/*X方向0.8、Y方向1にスケール拡大*/
}

.text {
    display: flex;
    background-color: #fffcec;
}

.text :nth-of-type(2){
    align-self: flex-end;
}

.kao {
    background-color: #fffcec;
    position: relative;
    width: 62%;
}

.kaoimg {
    width: 60%;
    height: auto;
    margin-left: 15%;
    margin-top: 10%;
    animation: kaoimg 4s infinite;
}
@keyframes kaoimg {
  0%, 40% {
    transform: skew(0deg, 0deg);}
  5% {
    transform: skew(5deg, 5deg);}
  10% {
    transform: skew(-4deg, -4deg);}
  15% {
    transform: skew(3deg, 3deg);}
  20% {
    transform: skew(-2deg, -2deg);}
  25% {
    transform: skew(1deg, 1deg);}
  30% {
    transform: skew(-0.6deg, -0.6deg);}
  35% {
    transform: skew(0.3deg, 0.3deg);}
}

.kao::after{
    position: absolute;
    content: "Idemitsu Miko";
    color: #333333;
    font-family: 'Ultra', serif;
    letter-spacing: 2px;
    font-size: 2.5rem;
    top: 30%;
    left: 70%;
    animation: kaoimg 4s infinite;
} 

.from p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #333333;
    padding-bottom: 5%;
    line-height: 30px;
}

.sns {
  display: flex;
  background-color: #fffcec;
  padding-left: 62%;
  gap: 5%;
}

.sns img {
  width: 4.5%;
  height: auto;
}

.software {
  display: flex;
  align-items: center;
  gap: 1.5%;
  padding-top: 20%;
  justify-content: center;
}

.software h2 {
  color: #333333;
  letter-spacing: 5px;
}

.software p {
  background-color: #333333;
  width: 70px;
  height: 20px;
  color: #fffcec;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.icon {
  display: flex;
  justify-content: center;
  padding-top: 2%;
  gap: 10%;
}

.icon img {
  width: 200px;
  height: auto;
}

.pro {
  text-align: center;
  flex-basis: 200px;
}

.pro p {
  text-align: left;
  margin: 0 25%;
  color: #333333;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.clip {
  text-align: center;
  flex-basis: 200px;
}

.clip p {
  text-align: left;
  margin: 0 25%;
  color: #333333;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.topbotton {
    background: #fffcec;
  }
  
  .topbotton a {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .btnarrow4{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #eb593c;
    text-decoration: none;
    outline: none;
    margin: 15% 0 0 80%;
    font-size: 1.5rem;
  }
  
  /*矢印と下線の形状*/
  .btnarrow4::before{
    content: '';
    position: absolute;
    bottom:-8px;
    left:15%;
    width: 85%;
    height: 1px;
    background:#eb593c;
    transition: all .3s;
  }
  
  .btnarrow4::after{
    content: '';
    position: absolute;
    bottom:-3px;
    right:0;
    width: 15px;
    height:1px;
    background:#eb593c;
    transform: rotate(35deg);
    transition: all .3s;
  }
  
  /*hoverした際の移動*/
  .btnarrow4:hover::before{
    left:20%;
  }
  
  .btnarrow4:hover::after{
    right:-5%;
  }
  
  footer {
    text-align: center;
    background: #fffcec;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    color: #333333;
  }
  
  footer p,
  footer a {
    color: #33333333;
  }
  
  footer a:hover {
    color: #eb593c;
  }

  @media screen and (max-width:1000px){
    .text {
      display: block;
    }

    .kao {
      margin: 0 10%;
    }

    .kao::after{
      font-size: 1.7rem;
    }

    .from p {
      padding-top: 2%;
      margin: 0 30%;
      padding-bottom: 0;
    }

    .software h2 {
      font-size: 18px;
    }

    .sns {
      padding-top: 3%;
      padding-left: 30%;
      gap: 5%;
    }

    .sns img {
      width: 3.2%;
      height: auto;
    }

    .icon {
      gap: 7%;
    }

    .icon img {
      width: 120px;
      height: auto;
    }

    .pro {
      flex-basis: 120px;
    }

    .pro p {
      font-size: 16px;
    }

    .clip {
      flex-basis: 120px;
    }

    .clip p {
      font-size: 16px;
    }
}

@media screen and (max-width:460px){
   .btnarrow4 {
    margin: 15% 0 0 60%;
    }

    .kao {
      margin-left: 10%;
    }

    .kao::after{
      font-size: 1.2rem;
    }

    .from p {
      padding-top: 2%;
      font-size: 13px;
      line-height: 25px;
      padding-bottom: 2%;
    }

    .software h2 {
      font-size: 14px;
    }

    .icon img {
      width: 80px;
  }

  .pro {
    flex-basis: 100px;
  }

  .pro p {
    font-size: 13px;
  }

  .clip {
    flex-basis: 100px;
  }

  .clip p {
    font-size: 13px;
  }


}
  