@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: auto;
}

header{
    width:100%;
    height: 100vh;
    position: relative;
    background-color: #abdcd6;
} 

header:before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height: 100vh;
}

.fluid {
    margin: 10% 3%;
    width:43vh;/*横幅*/
    height: 40vh;/*縦幅*/
    background:#fff987;/*背景色*/
    animation: fluidrotate 30s ease 0s infinite;/*アニメーションの設定*/
}
@keyframes fluidrotate {  
  0%, 100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;}
  14% {
      border-radius: 55% 45% 75% 25% / 20% 53% 47% 80%  ;}
  28% {
      border-radius: 33% 67% 56% 44% / 54% 33% 67% 46%  ;}
  42% {
      border-radius: 59% 41% 29% 71% / 66% 21% 79% 34%  ;}
  56% {
      border-radius: 81% 19% 53% 47% / 22% 14% 86% 78% ;}
  70% {
      border-radius: 59% 41% 64% 36% / 66% 27% 73% 34% ;}
  84% {
      border-radius: 71% 29% 84% 16% / 65% 50% 50% 35% ;}
}

img {
  width: 100%;
  height: auto;
}

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color:#eb593c;
    text-align: center;
    font-size: 5rem;
    font-family: 'Ultra', serif;
}

.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  margin:0 0 50px 10px;
  list-style: none;
}

.gnavi li a{
  display: block;
  padding:15px 20px;
  text-decoration: none;
  color: #eb593c;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

.gnavi li{
  margin-bottom:20px;
}

/*==================================================
　5-3-8 円が線に変化
===================================*/


.gnavi li a{
  /*円の基点とするためrelativeを指定*/
position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
color:#eb593c;
font-family: 'Roboto Condensed', sans-serif;
}

.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線になる丸の形状*/
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background:#eb593c;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0.04, 1);/*X方向0.04、Y方向1*/
  transform-origin:center bottom;/*中央下部基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  height: 1px;/*縦幅を変化*/
  border-radius: 0;/*丸みをなくす*/    
  transform: scale(0.8, 1);/*X方向0.8、Y方向1にスケール拡大*/
}

/*スクロールダウン全体の場所*/
.scrolldown2{
	position:absolute;
	bottom:100px;
	left:50%;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
	position: absolute;
	left:10px;
	bottom:25px;
	color: #333333;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  font-family: 'Roboto Condensed', sans-serif;
}

/* 丸の描写 */
.scrolldown2:before {
    content: "";
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#333333;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
		circlemove 1.6s ease-in-out infinite,
		cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove{
      0%{bottom:75px;}
     100%{bottom:-5px;}
 }

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
      0%{opacity:0}
     50%{opacity:1;}
    80%{opacity:0.9;}
	100%{opacity:0;}
 }

/* 線の描写 */
.scrolldown2:after{
	content:"";
	position: absolute;
	bottom:0;
	left:0;
	width:2px;
	height: 80px;
	background:#333333;
}

footer {
    text-align: center;
    background: #fffcec;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    color: #333333;
}

footer p,
footer a {
  color: #33333333;
}

footer a:hover {
  color: #eb593c;
}

main {
  position: relative;
  z-index:1;
  padding:100px 0;
  text-align: center;
  background-color: #fffcec;
}

main::before {
    content: "";
    width: 100%;
    height: auto;
    background-color: red
}

#original {
  margin: auto;
  max-width: 800px;
  padding: 2px;
}

#original ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
    margin: 10%;
}

#original img:hover {
    cursor: pointer;
    opacity: .7;
}

#original p {
  text-decoration: none;
  margin: 5% 0;
  color: #333333;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

#original a {
  text-decoration: none;
}

/* @media screen and (max-width: 640px) { */
  /* ul { */
    /* grid-template-columns: 1fr 1fr; */
  /* } */
/* } */

/*ローディング画面*/
#loading {
    transition: all 3s; /*ローディングにかかる時間*/
    background-color: #abdcd6;
    z-index: 999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
  
  .spinner {
    margin: 120px auto 0;
    width: 100px;
    text-align: center;
  }
  
  .spinner > div {
    width: 25px;
    height: 25px;
    background-color: #333333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  
  .loaded {
    opacity: 0;
    visibility: hidden;
  }